
<!DOCTYPE html>
<html>
<head>
  <title>Services</title>
</head>
<body>
    <h1>Welcome to My services</h1>
  <h1>Services</h1>
  <% services.forEach(function(service) { %>
    <h3><%= service.name %></h3>
    <p>Price: <%= service.price %></p>
    <p>Description: <%= service.description %></p>
  <% }); %>
</body>
</html>
